body {
  background-color: rgb(248, 232, 166);
}
h1,
p {
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  margin: 10px;
  color: green;
}

img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;

  display: block;

  margin: 0 auto;
}
